@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {

    &__top {
        top:0;  
        left:0; 
        right:0;
        background-color: #fff; 
        z-index:999; 

    }  
     
    &__top-inner{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 15px;
        border-bottom: 1px solid #E5E5E5; 
        position: fixed;   
        width: 100%; 
        max-width: 1257px;
        border: 1px solid fuchsia;   
         
        .menu {

            &__btn {
                position: relative;
                width: 50px;
                height: 40px;
                border: none;
                padding: 0;
                background-color: transparent;
                transition: all 0.25s;
                display: none;

                .row-top,
                .row-middle,
                .row-bottom {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 45px;
                    height: 3px;
                    background: $white;
                    transform: rotate(0);
                    transition: all 0.5s;
                }

                .row-middle {
                    transform: translateY(16px);
                }

                .row-bottom {
                    transform: translateY(33px);
                }

            }

            &__btn.menu__btn--open {

                .row-top {
                    transform: rotate(45deg) translateY(10px) translateX(13px);
                }

                .row-middle {
                    display: none;
                }

                .row-bottom {
                    transform: rotate(-45deg) translateY(13px) translateX(-10px);
                }
            }

            &__list {
                display: flex;
                align-items: center;
            }

            &__item + .menu__item {
                margin-left: 30px;
            }

            &__link {
                @extend %source-sans-pro-600;
                color:#7D7D7D;
                font-size: 18px;
            }
        } 
     }
      
    &__top-user-nav{ 
        border: 1px solid transparent;
    } 

   &__top-user-nav-btn{ 
     padding: 6px 24px; 
     @extend %source-sans-pro-400; 
     color: $white; 
     font-size: 18px;
   } 
    
   &__top-user-nav-btn--transparent{  
     color:#5D78FF;  
     margin-right: 16px;
   }
 }

@import 'media';